* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'Arial', 'Microsoft YaHei', "微软雅黑";
    font-size: 14px;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clear {
    clear: both;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.overflow {
    overflow: auto;
}

.pointer {
    cursor: pointer;
}

.block {
    display: block;
}

.font-sm {
    font-size: 12px;
}

.white {
    color: #fff;
}
.note {
	color: #919191;
}

.font-bold {
    font-weight: bold;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}
.btn-sm{
    padding: 3px 6px;
    font-size: 12px;
}
.radius{
    border-radius: 3px;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.font-18{
    font-size: 18px;
}
.font-16{
    font-size: 16px;
}
.font-14{
    font-size: 14px;
}
.font-12{
    font-size: 12px;
}