// common
.radius {
	border-radius:3px;
}
.block {
	display: block;
}
.overflow {
	overflow: auto;
}
.pointer {
	cursor: pointer;
}
.chuck_w {
	@extend .radius-default;
	background-color: $white;
}
.box-shadow {
	box-shadow: 0 4px 20px 1px rgba(0,0,0,0.2);
}

// login out
#loginOut {
	color: $icon;
	margin:14px 10px;
	&:hover {
		color: $active;
	}
	.setUp {
		background-color: $white;
		padding: 3px;
		right: -20px;
		top: 30px;
		@extend .box-shadow;
		li {
			a {
				color: $icon;
			}
			width: 70px;
			padding: 5px 10px;
			&:hover {
				a {
					color: $active;
				}
				background-color: $hoverBg;
			}
			&:last-child {
				padding: 8px 10px;
				text-align: center;
				border-top: 1px solid $hoverBg;
			}
		}
		.W_layer_top em {
			left: 60px;
		}
	}
}


// collection
.collection {
	.coll_header {
		@extend .overflow;
		.coll_nav {
			@extend .block,.pointer;
			@include float(left);
			padding: 6px;
			margin:0 10px 2px;
			color: $color;
			
			&.on {
				color: $black;
				label {
					font-weight: bold;
				}
				em {
					display: inline-block;
				}
				border-bottom: 2px solid $active;
			}
			label {
				@extend .pointer;
			}
			em {
				display: none;
			}
		}
		margin-bottom: 10px;
	}
	.right_side {
		.topicList li {
			text-decoration: none;
		}
	}
}

// praise
.praise {
	.center_nav {
		margin-top: 0;
	}
}

// amimates
.opacity-enter-active {
  animation-name: opacity-in;
  animation-duration: .4s;
}
.opacity-leave-active {
  animation-name: opacity-out;
  animation-duration: .4s;
}
@keyframes opacity-in {
  0% {
	opacity: 0;
  }
  100% {
	opacity: 1;
  }
}
@keyframes opacity-out {
  0% {
	opacity: 1;
  }
  100% {
	opacity: 0;
  }
}

.fade-enter-active {
  animation-name: fade-in;
  animation-duration: .4s;
}
.fade-leave-active {
  animation-name: fade-out;
  animation-duration: .4s;
}
@keyframes fade-in {
  0% {
    transform: translate3d(0, 5px, 0);
	opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
	opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    transform: translate3d(0, 0, 0);
	opacity: 1;
  }
  100% {
    transform: translate3d(0, 5px, 0);
	opacity: 0;
  }
}