// color
$white: #fff;
$black: #2d2d2d;
$grey: #c1c1c1;
$color: #6c6351;
$active: #fa7d3c;
$activeDeep: #f7671d;
$icon: #696e78;
$hoverBg: #f2f2f5;
$borderColor: #d9d9d9;
$text: #d7ebfe;

// font
$fontSize: 14px !default;
@for $i from 12 through 30 { 
	.font-#{$i} { 
		font-size: #{$i}px; 
	} 
}

// border
$border: (default: $grey, white: $white, black: $black);
@each $key, $value in $border {
	.border-#{$key}{
		border: 1px solid $value;
	}
}

// radius
$radius: (default: 3px, 5: 5px, 50:50%);
@each $key, $value in $radius {
	.radius-#{$key} {
		border-radius: $value
	}
}


/********************************************************  mixin  *****************************************************************/
// fload
@mixin float($direction) {
	float: $direction
}